<!DOCTYPE html>
<html>
  <head>
    <title>Stock Search</title>
    <meta name="description" content="A stock price comparison project made with Node and Express">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1>Nasdaq Stock Price Checker</h1>
    </header>
    <div id="userstories">
      <ol>
        <li>Using the form below, you can <b>GET</b> <code>/api/stock-prices</code> with form data containing a Nasdaq stock ticker.</li>
        <li>The returned stock object will contain the stock name (a string, also known as the "ticker"), the price (a decimal in string format), and the number of likes (an integer).</li>
        <li>If the <i>like</i> field is passed as <b>true</b>(boolean) via the checkbox, then the user's like will be added to the stock object. Only one like is permitted per IP address.</li>
        <li>If two stocks are requested, the returned object will be an array with both stocks' info, but instead of likes, they will contain <i>rel_likes</i> (the difference between the likes on both).</li>
        <li>The Alpha Vantage stock API is used for this project: <a href="https://www.alphavantage.co/">https://www.alphavantage.co/</a>.</li>
      </ol>
      <h3>Example usage:</h3>
      <code>/api/stock-prices?stock=goog</code><br>
      <code>/api/stock-prices?stock=goog&amp;like=true</code><br>
      <code>/api/stock-prices?stock=goog&amp;stock=msft</code><br>
      <code>/api/stock-prices?stock=goog&amp;stock=msft&amp;like=true</code><br>
      <h3>Example return:</h3>
      <code>{"stockData":{"stock":"GOOG","price":"786.90","likes":1}}</code><br>
      <code>{"stockData":[{"stock":"MSFT","price":"62.30","rel_likes":-1},{"stock":"GOOG","price":"786.90","rel_likes":1}]}</code>
    </div>
    <hr>
    <div id="testui">
      <h2>Front-End:</h2>
      <h3>Get single price and total likes</h3>
      <form id="testForm2" class="border" action="/api/stock-prices">
        <input type="text" name="stock" placeholder="goog" required>
        <input type="checkbox" name="like" value="true"> Like?<br>
        <button type="submit">Get Price!</button>
      </form>
      <h3>Compare and get relative likes</h3>
      <form id="testForm" class="border" action="/api/stock-prices/compare">
        <input type="text" name="stock" placeholder="goog" required>
        <input type="text" name="stock" placeholder="msft"  required>
        <input type="checkbox" name="like" value="true"> Like both?<br>
        <button type="submit">Get Price!</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    <hr>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="./public/forms.js"></script>
  </body>
</html>